{% extends 'base.html.twig' %}

{% block title %}List Films!{% endblock %}

{% block body %}


<div class="example-wrapper">
  
<table border="1">
<thead>
<tr>
<th>Title</th>
<th>Description</th>
<th>Category</th>
<th>Actions</th>

</tr>
</thead>
<tbody>
{% for film in films %}
<tr>
<td>{{ film.title}}</td>
<td>{{ film.description}}</td>
<td>{{ film.category}}</td>
<td><a href="">Edit</a>|<a href="">Delete</a></td>

</tr>
{% endfor %}
</tbody>
</table>

</div>
{% endblock %}
